* {
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
}

.form {
    position: absolute;
    background: #1A1192;
    color: #FFF;
    font-family: sans-serif;
    padding: 20px;
    top: 50%;
    left: 50%;
    border-radius: 1rem;
    transform: translate(-50%, -50%);
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, .2), 0 24px 38px 3px rgba(0, 0, 0, .14), 0 9px 46px 8px rgba(0, 0, 0, .12);
}

#btn-send {
    margin-top: 1rem;

}